<h1>Property Listings</h1>
<br>
<hr>
<br>
<table style="width: 75%; margin: 0 auto">
  <tr>
    <th style="width: 50%">Location</th>
    <th style="width: 15%">Price</th>
    <th style="width: 15%">Sale type</th>
    <th style="width: 15%">Status</th>
    <th style="width: 5%"></th>
    <th style="width: 5%"></th>
    <th style="width: 5%"></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.location.address1 %> <%= property.location.address2 %>, <%= property.location.city %>, <%= property.location.state %> <%= property.location.zipcode %></td>
    <td><%= property.price %></td>
    <td><%= property.sell_type == 0 ? "Rent" : "Sell" %></td>
    <td><%= property.status == 0 ? "Closed" : "Open" %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>

<br><br><br><br><br><br><br><br><br><hr><br>