<h1>View Listing</h1>
<br><br>
<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Sell type:</b>
  <%= @property.sell_type %>
</p>

<p>
  <b>Status:</b>
  <%= @property.status %>
</p>

<p>
  <b>Address:</b>
  <%= @property.location.address1 %><br />
  <% unless @property.location.address2.empty? %>
  <%= @property.location.address2 %><br />
  <% end %>
  <%= @property.location.city %>, <%= @property.location.state %> <%= @property.location.zipcode %>
</p>

<% unless current_buyer.nil? %>
  <%= link_to 'Apply', controller: :applications, action: :new, property_id: @property %> | 
<% end %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
