<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :phone_number %><br />
  <%= f.text_field :phone_number %></div>

  <div><%= f.label :monthly_income %><br />
  <%= f.text_field :monthly_income %></div>

  <div><%= f.label :pets %><br />
  <%= f.check_box :pets %></div>

  <div><%= f.label :move_in %><br />
  <%= f.date_select :move_in %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
