<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @picture.location %>
</p>

<p>
  <b>Width:</b>
  <%= @picture.width %>
</p>

<p>
  <b>Height:</b>
  <%= @picture.height %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
